<nav class="navbar navbar-light" style="background-color: #e3f2fd;" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/" >
            <i class="fas fa-shopping-bag"></i>
            Shop
         </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="nav-item">
                    <a class="nav-link" href="/mens">Mens</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/womens">Womens</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                        <a href="/shopping-cart/">
                        <i class="fas fa-shopping-cart"></i> Shopping Cart <span class="badge">{{session.cart.totalQty}}</span></a>
                        
                </li>
                {{#if login}}
                    <li>
                        <a href="/user/profile"><i class="far fa-user-circle"></i> User Profile </a>
                    </li>
                    <li>
                        <a href="/user/logout"><i class="fas fa-sign-in-alt"></i> Log Out </a>
                    </li>
                   
                {{else}}
                    <li>
                        <a href="/user/signup"><i class="fa fa-user" aria-hidden="true"></i> Sign Up </a>
                    </li>
                    <li>
                        <a href="/user/signin"><i class="fas fa-sign-in-alt"></i> Sign In </a>
                    </li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
